form {
    background: #eeeeee;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #000000;
    max-width: 800px;
    margin: 25px auto;
    padding: 0 10px;

    .button-controls {
        flex-grow: 1;
        flex-basis: 100%;
        text-align: right;
    }

    .repeater {
        button {
            cursor: pointer;
            margin-top: 10px;
        }
    }

    .required-input {
        color: #ff0000;
    }

    button, input[type='submit'] {
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #555555;
        margin-left: 5px;
        padding: 5px;

        &:hover {
            background: #eeeeee;
        }
    }

    div.form-input {
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #555555;
        box-sizing: border-box;
        flex: 1;
        padding: 5px;

        &:nth-child(even) {
            flex-basis: 50%;
        }

        &:nth-child(odd) {
            flex-basis: 35%;
        }

        input, select {
            border-bottom: 1px solid #000000;
            border-radius: 5px;
            outline: 1px solid #dddddd;
            margin: 5px 0;
            padding-left: 5px;
            width: 100%;
        }
    }

    fieldset {
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 25px;
        padding: 10px;
    }

    h2 {
        flex-shrink: 0;
        flex-basis: 100%;
        font-size: 1.3em;
        margin: 10px auto;
    }

    input[type='submit'] {
        display: block;
        margin: 10px auto;
    }
}