form {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 800px;
    margin: 25px auto;
    padding: 0 10px;

    .repeater {
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 25px;
        padding: 10px;

        button {
            cursor: pointer;
        }
    }

    button, input[type='submit'] {
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #555555;
        margin-left: 5px;
        padding: 5px;

        &:hover {
            background: #dddddd;
        }
    }

    div.form-input {
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #555555;
        box-sizing: border-box;
        flex: 1;
        padding: 5px;

        &:nth-child(even) {
            flex-basis: 50%;
        }

        &:nth-child(odd) {
            flex-basis: 35%;
        }

        input {
            border-bottom: 1px solid black;
            border-radius: 5px;
            outline: 1px solid #dddddd;
            padding-left: 5px;
            width: 100%;
        }

        select {
            outline: 1px solid black;
            width: 100%;
        }
    }

    fieldset {
        border-bottom: 1px solid #888888;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px auto;
        padding-bottom: 10px;
    }

    h2 {
        flex-shrink: 0;
        flex-basis: 100%;
        font-size: 1.3em;
        margin: 10px auto;
    }

    input[type='submit'] {
        display: block;
        margin: 10px auto;
    }
}