$base-colour: #82003c;
$form-input: #e7c9d7;
$base-white: #eeeeee;

body {
    background: linear-gradient(+135deg, $base-colour, $base-white);
}

form {
    background: $base-white;
    box-shadow: 5px 5px 10px #000000;
    max-width: 800px;
    margin: 25px auto;
    padding: 25px;

    .button-controls {
        flex-grow: 1;
        flex-basis: 100%;
        text-align: right;
    }

    .repeater {
        fieldset {
            border: none;
            padding: 10px;
        }
    }

    .required-input {
        color: $base-colour;
    }

    button, input[type='submit'] {
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #555555;
        cursor: pointer;
        margin-left: 5px;
        min-width: 100px;
        padding: 5px;

        &:hover {
            background: #eeeeee;
        }
    }

    div.form-input {
        box-shadow: -2px 2px 5px #555555;
        box-sizing: border-box;
        flex: 1;
        padding: 5px;

        &:nth-child(even) {
            flex-basis: 50%;
        }

        &:nth-child(odd) {
            flex-basis: 35%;
        }

        input, select {
            outline: 1px solid #dddddd;
            margin: 5px 0;
            padding-left: 5px;
            width: 100%;
        }
    }

    fieldset {
        background: white;
        border-bottom: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 25px 10px;
    }

    h2 {
        flex-shrink: 0;
        flex-basis: 100%;
        font-size: 1.8em;
        font-weight: 400;
        margin: 0 auto;
    }

    input[type='submit'] {
        display: block;
        margin: 10px auto;
    }
}