form {
    max-width: 800px;
    margin: 0 auto;

    fieldset {
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px auto;
        padding: 10px;

        div.form-input {
            border: 1px solid black;
            border-radius: 5px;
            box-sizing: border-box;
            flex: 1;
            padding: 5px;

            &:nth-child(even) {
                flex-basis: 50%;
            }

            &:nth-child(odd) {
                flex-basis: 35%;
            }

            input {
                border-bottom: 1px solid black;
                border-radius: 5px;
                outline: 1px solid #dddddd;
                padding-left: 5px;
                width: 100%;
            }
        }
    }
}