form {
    fieldset {
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px auto;
        max-width: 800px;
        padding: 10px;

        div.form-input {
            border: 1px solid black;
            border-radius: 5px;
            flex: 1;
            flex-basis: 100%;
            padding: 5px;

            input {
                border-bottom: 1px solid black;
                border-radius: 5px;
                outline: 1px solid #dddddd;
                padding-left: 5px;
                width: 100%;
            }
        }
    }
}